@font-face {
  font-family: FFFFORWA;
  src: url(FFFFORWA.ttf);
}

body {
  background-color: lightgrey;
  font-family: FFFFORWA;
}

.game {
  position: relative;
  width: 800px;
  height: 800px;
  margin: auto;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.description {
  position: relative;
  text-align: center;
  width: 800px;
  margin: auto;
}
